/*** NAVBAR 
.navbar-default {
  background-color: transparent;
}
***/

html {
	position: relative;
	min-height: 100%;
}

/*** BACKGROUND ***/
body {
	min-height: auto;
	width: 100%;
	padding: 0;
	margin: 0;
}

.coverpage {
	margin-top: -30px;
}

.header-content-inner h2 {
	font-size: 50px;
}

/*** CONTENT ***/
.jumbotron {
	max-width: 1000px;
	margin: 0 auto;
	background-color: transparent;
}

h2 {
	text-align: center;
}

/*** FOOTER  ***/
hr {
	border-style: none;
}

footer {
    position: absolute;
}