@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800|Montserrat|Lato:400,300);

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
.highlightedText {
    background-color: yellow;
}

/*** GENERAL ***/

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
}

.jumbotron {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #FFF;

}

.jumbotron h1,
.jumbotron .h1 {
  font-size: 72px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
  text-align: center;
}

.jumbotron h2, .jumbotron .h2 {
  font-family: 'Lato';
  font-weight: 300;
}


/*** NAVBAR ***/

.navbar {
  background-color: transparent;
  border: none;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
  font-family: 'Lato';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
}

div.logo {
    width:103px;
    height:100px;
    margin:-30px auto 20px;
}

div.logo a {
    background-image:url('/img/iconcolor.png');
    background-size: 70px 85px;
    
}

div.logo a {

  display:block;
  width:70px;
  height:85px;
  background-repeat:no-repeat;

}
div.logo a h1{
  padding-top:92px;
  font-size:9px;
  letter-spacing: 0.15em;
  line-height:15px;
  text-transform: uppercase;
  text-align:center;
  font-weight: 400;

}
/* Toggle */




/*** LINKS ***/
a,
a:visited,
a:hover,
a:active {
  text-decoration:none;
}
a {
  color:#222;
  
}
a:hover,
a.current,
a.internal,
.navlinks a.current{
  color:#fb5d35;
}

/*** FOOTER ***/
footer {
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

ul.social-media {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

ul.social-media li{
  display: inline;
}

ul.social-media a {
  padding: 0 3px;
}