@import url(//fonts.googleapis.com/css?family=Open+Sans);

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
.highlightedText {
    background-color: yellow;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  background-color: #E6EBE6;
}

.jumbotron {
	background-color: #B2C2B2;
}

/* FOOTER */
footer {
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

ul.social-media {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

ul.social-media li{
  display: inline;
}

ul.social-media a {
  padding: 0 3px;
}

.navbar-default {
  background-color: #8db68e;
  border-color: #c5eabc;
}
.navbar-default .navbar-brand {
  color: #44693e;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #1d251f;
}
.navbar-default .navbar-text {
  color: #44693e;
}
.navbar-default .navbar-nav > li > a {
  color: #44693e;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #1d251f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #1d251f;
  background-color: #c5eabc;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #1d251f;
  background-color: #c5eabc;
}
.navbar-default .navbar-toggle {
  border-color: #c5eabc;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c5eabc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #44693e;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #44693e;
}
.navbar-default .navbar-link {
  color: #44693e;
}
.navbar-default .navbar-link:hover {
  color: #1d251f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #44693e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #1d251f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1d251f;
    background-color: #c5eabc;
  }
}