<!DOCTYPE html>
<html>
<head>
	<title>Votes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    
    <script data-require="jquery@*" data-semver="2.1.3" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.3.1" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.0-beta.2/angular.js" data-semver="1.4.0-beta.2" data-require="angular.js@*"></script>
    
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.1.0/js/bootstrap-toggle.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="customersCtrl"> 
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#">Lumivote</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="../"><span class="glyphicon glyphicon-home"></span> Home</a></li>
					<li><a href="../timeline">Timeline</a></li>
					<li><a href="../candidates">Candidates</a></li>
					<li><a href="../legislators">Legislators</a></li>
					<li><a href="../bills">Bills</a></li>
					<li class="active"><a href="">Votes</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Dropdown
							<span class="caret">
								
							</span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Something</a></li>
							<li><a href="#">Else</a></li>
							<li><a href="#">Another</a></li> 
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://play.google.com/store"><span class="glyphicon glyphicon-phone"></span> Android</a></li>
					<li><a href="../aboutus"><span class="glyphicon glyphicon-heart"></span> About Us</a></li>
					<li><a href="../help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
					<li><a href="../settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
				</ul>
			</div>
		</div>
	</nav>
		<div class="container">
			<div class="jumbotron">
				<h1>Votes</h1>
				<p>Voting ... </p>
				
			</div>
		</div>
		<div class="container table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Bill Title</th>
						<th>Voted At</th>
						<th>Vote Type</th>
						<th>Result</th>
						<th>Yea</th>
						<th>Nay</th>
						<th>Present</th>
						<th>Not Voting</th>
						<th>URL</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in votes">
						<td class="col-sm-4.5">{{ x.bill.official_title }}</td>
						<td class="col-sm-1">{{ x.voted_at }}</td>
						<th class="col-sm-1">{{ x.vote_type }}</th>
						<td class="col-sm-1">{{ x.result }}</td>
						<td class="col-sm-1">{{ x.breakdown.total.Yea }}</td>
						<td class="col-sm-1">{{ x.breakdown.total.Nay }}</td>
						<td class="col-sm-1.5">{{ x.breakdown.total.Present }}</td>
						<td class="col-sm-1">{{ x.breakdown.total['Not Voting'] }}</td>
						<td class="col-sm-1"><a target="_blank" ng-href="{{ x.url }}">Link</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<button type="button" class="btn btn-primary" ng-click="addFifty()">Show More</button>
		</div>


	<script>
		var app = angular.module('myApp', []);
		app.controller('customersCtrl', function($scope, $http) {
			$scope.pageNumber = 1;
			$http.get("https://congress.api.sunlightfoundation.com/votes?fields=bill,voted_at,vote_type,result,url,breakdown.total&order=voted_at&per_page=20&page=1&apikey=33758a76204d4ac4aa866a5ef2e741a2")
			.success(function(response) {
				$scope.votes = response.results;
			});



			$scope.addFifty = function() {
				$scope.pageNumber = $scope.pageNumber + 1;
				$http.get("https://congress.api.sunlightfoundation.com/votes?fields=bill,voted_at,vote_type,result,url,breakdown.total&order=voted_at&per_page=20&page="+$scope.pageNumber+"&apikey=33758a76204d4ac4aa866a5ef2e741a2")
					.success(function(response) {
						$scope.newVotes = response.results;
						$scope.votes = $scope.votes.concat($scope.newVotes);
				});
			}
			
		});



</script>

</body>
</html>