<head>
	<title>Presidential Candidates</title>
</head>

<script type="text/ng-template" id="candidateContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{findName(candidate)}}</h3>
        </div>
        <div class="modal-body">
        <div> 
        	<h4>Background</h4>
        	<p>Birthdate: {{candidate.birthdate}}</p>
        	<p>Age: </p>
        	<p>Occupation: {{candidate.occupation}}</p>
        	<p>Spouse Name: {{candidate.spouseFName}}</p>
      		
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>


<div class="container jumbotron">
		<h1>Candidates</h1>
		<p>2016 Presidential Election Candidates.</p>	
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h2 class="text-center">Democrats</h2>
			<table class="table">
				<tbody>
					<tr ng-repeat="x in democrats">
						<td>
							<div class="row">
								<div class="col-sm-4">
									<img ng-src="{{candidate.image}}" alt="Description"/>
								</div>
								<div class="col-sm-4">
									<h3><a href="" ng-click="open(x)">{{findName(x)}}></a></h3>
									<div>
										<span ng-bind="x.occupation"></span>
									</div>
									<div>
										<a target="_blank" ng-href="{{x.url}}">Website</a>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-4">
			<h2 class="text-center">Independents</h2>
			<table class="table">
				<tbody>
					<tr ng-repeat="x in independents">
						<td>
							<h3 ng-bind="findName(x)"></h3>
							<div>
								Born <span ng-bind="findDate(x.birthdate)"></span>
							</div>
							<div>
								<span ng-bind="x.occupation"></span>
							</div>
							<div>
								<a target="_blank" ng-href="{{x.url}}">Personal Website</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-4">
			<h2 class="text-center">Republicans</h2>
			<table class="table">
				<tbody>
					<tr ng-repeat="x in republicans">
						<td>
							<h3 ng-bind="findName(x)"></h3>
							<div>
								Born <span ng-bind="findDate(x.birthdate)"></span>
							</div>
							<div>
								<span ng-bind="x.occupation"></span>
							</div>
							<div>
								<a target="_blank" ng-href="{{x.url}}">Personal Website</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>