<head>
    <meta charset="UTF-8">
    <title>Lumitrivia</title>
</head>
<body>

<button ng-click="logOut()">Log Out</button>

    <p>This is Lumitrivia home page</p>
<p ng-bind="message"></p>

<h2>Scoreboard</h2>
<p>Number of total answers: <span ng-bind="score.total"></span></p>
<p>Number of total correct: <span ng-bind="score.correct"></span></p>
<p>Number of total incorrect: <span ng-bind="score.incorrect"></span></p>

<h2>Lumitrivia</h2>
<p ng-bind="question.question"></p>
<div ng-repeat="answer in question.answers">
    <button ng-bind="answer.answer" ng-click="submit(answer.iscorrect)"></button>
</div>
</body>
</html>