<head>
    <title>Lumivote - Election Timeline</title>
</head>

<div class="jumbotron container">
    <h1>Election Timeline</h1>

    <p>Events leading up to the 2016 Presidential Election.</p>
</div>

<div class="container">
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th class="col-sm-3">Name</th>
            <th class="col-sm-2"><a href="" ng-click="order('date')">Date</a><span
                    class="sortorder" ng-show="predicate === 'date'"
                    ng-class="{reverse:reverse}"></span></th>
            <th class="col-sm-1"><a href="" ng-click="order('party')">Party</a><span
                    class="sortorder" ng-show="predicate === 'party'"
                    ng-class="{reverse:reverse}"></span></th>
            <th class="col-sm-1"><a href="" ng-click="order('state')">State</a><span
                    class="sortorder" ng-show="predicate === 'state'"
                    ng-class="{reverse:reverse}"></span></th>
            <th class="col-sm-1"><a href="" ng-click="order('type')">Type</a><span
                    class="sortorder" ng-show="predicate === 'type'"
                    ng-class="{reverse:reverse}"></span></th>
            <th class="col-sm-4">Description</th>
        </tr>
        </thead>
        <tr ng-repeat="x in timeline | orderBy:predicate:reverse">
            <td>{{ x.name}}</td>
            <td ng-bind="findDate(x.date)"></td>
            <td>{{ x.party }}</td>
            <td>{{ x.state }}</td>
            <td>{{ x.type }}</td>
            <td>{{ x.description }}</td>
        </tr>
    </table>
    <div style="position:relative; padding-top:30px; padding-bottom:30px" us-spinner></div>
</div>